/* Note : les border: 1px solid white servent pour situer les boites */

/* On reset les paramètres */

/* TODO: mettre en forme le livre d'or */

/* TODO: enlever les fleches dans le mode fullscreen en small devices */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style général + définition des premières div en flex */

body {
  width: 100%;
  background-color: black;
  color: white;
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'PT Mono', monospace;
  letter-spacing: 0.23rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-flex;
  overflow: hidden;
}

/* Style général des liens */

a {
  text-decoration: none;
  color: inherit;
}

/* Mise en inline flex des 2 div menuGauche et liseret */

header {
  display: inline-flex;
  /* transition-property: transform;
  transition-delay: 500ms; */
}

/* Style de la 1ere div du header */

.menuGauche {
  width: 220px;
  margin-left: 20px;
  /*       min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(-240px);
  transition-property: transform;
  transition-duration: 500ms;
}

.menuGauche h2 {
  /* border: 1px solid white; */
  padding: 20px 0;
  /* margin: auto; */
}

/* Dans la nav : flex column pour mettre en boite les div internes */

#titre1 {
  font-weight: lighter;
  transform: translate(-240px);
  transition-property: transform;
  transition-duration: 500ms;
}

.menuGauche nav {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  margin-left: 10px;
  color: #939393;
  transform: translate(-240px);
  transition-property: transform;
  transition-duration: 500ms;
}

ul#categories {
  letter-spacing: 0.11rem;
}

ul#categories li {
  padding: 3px 0;
}

.menuGauche ul {
  /* border: 1px solid white; */
  flex-grow: 3;
  padding: 10px 0;
}

.menuGauche li {
  list-style: none;
}

/* Définition de l'animation pour les liens du menu */

.menuGauche li a, #about a {
  transition: all 0.5s ease-out;
}

.menuGauche li a:hover, #about a:hover {
  color: white;
}

a#street:focus, a#architecture:focus, a#portrait:focus, a#mariage:focus, .asie a:focus, .europe a:focus, .amsud a:focus, #about a:focus {
  color: white;
}

ul.continents {
  padding-left: 5px;
  font-size: 0.98rem;
}

/* Petite marge pour différencier les pays des continents */

.asie a, .europe a, .amsud a {
  padding-left: 10px;
}

/* Opacité 0 pour l'icone +, modifiée avec jQuery */

i.fas.fa-arrow-down, i.fas.fa-arrow-up {
  /* color:red; */
  opacity: 0;
  font-size: 10px;
  vertical-align: middle;
}

/* Div contenant liens vers pages about / moi / contact ... */

#about {
  /* border: 1px solid white; */
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

#about a {
  padding-top: 5px;
}

/* Style de la 2 div du header, le petit liseret */

.liseret {
  /*flex-grow: 1;*/
  width: 52px;
  min-height: 100vh;
  border-width: 0 1px 0 1px;
  border-color: #3a3a3a;
  border-style: solid;
  display: flex;
  flex-direction: column;
  transform: translate(-240px);
  transition: all 500ms;
  /*    align-content: space-between; */
}

.liseret:hover {
  background-color: #1e1e1e;
}

#menuburger {
  /* border: 1px solid white; */
  text-align: center;
  padding: 15px 0 15px 3px;
  transition: all 0.5s ease-out;
}

#menuburger:hover {
  color: #939393;
}

#portfolio {
  /*    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto; */
  /* text-align: center; */
  /* border: 1px solid white; */
  transform: rotate(-90deg) translate(22%, -479%);
  width: 447%;
  margin: auto;
  /* padding: 15px; */
}

/* Div Principale contenant le titre et le caroussel */

section {
  width: 96%;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  /* transition-property: transform;
  transition-delay: 500ms;  */
}

section .titre {
  /* flex-grow: 1; */
  padding: 20px;
  text-align: center;
  transform: translate(-240px);
  transition-property: transform;
  transition-duration: 500ms;
}

section h2 {
  font-weight: lighter;
  padding-top: 5px;
  color: #939393;
  /* text-transform: uppercase; */
}

/* section .titre:hover {
    transform: translate(500px);
  } */

#caroussel {
  width: 100%;
  /* border: 1px solid white; */
  text-align: center;
  transform: translate(-240px);
  transition-property: transform;
  transition-duration: 500ms;
  display: flex;
  flex-direction: row;
}

#loader {
  display: none;
  position: absolute;
  top: 45%;
  left: 45%;
}

#loader img {
  width: 150px;
}

/* #loader {
position : fixed;
z-index: 0;
background : url('loading4.gif') 50% 50% no-repeat;
top : 0px;
left : 0px;
text-align:center;
height : 100%;
width : 100%;

  } */