    form {
        /* Uniquement centrer le formulaire sur la page */
        margin: auto;
        width: 80%;
        /* Encadré pour voir les limites du formulaire */
        padding: 10px;

    }

    label {
        display: inline-block;
        width: 25%;
        text-align: right;
        padding: 1em;
        transition-duration: 500ms;
    }

    fieldset {
        border-color: #3a3a3a;
    }

    fieldset>div {
        margin: 10px 0;
    }

    input,
    textarea {
        font-size: 1em;
        width: 50%;
    }

    textarea {
        vertical-align: top;
        height: 10em;
    }

    input#submit {
        width: 70px;
        font-family: monospace;
        font-size: 2rem;
    }

    .error {
        font-size: 0.75rem;
    }

    #checkmark {
        width: 20%;
    }

    @media screen and (max-width: 850px) {

        fieldset>div {
            display: flex;
            flex-direction: column;
        }

        label {
            width: 100%;
            text-align: center;
            padding: 1em;
            transition-duration: 500ms;
        }

        input,
        textarea {
            font-size: 0, 5em;
            width: 100%;
        }
    }